*{
    margin:0;
    padding:0;
}
.loginForm{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-right:220px;
}
.loginInput{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 33vh;
    background-color: white;
    align-items: center;
}
.loginInput input{
    width: 18vw;
    height: 4vh;
    border-radius: 7px;
    border: 1px solid gray;
}
.loginInput input:focus{
    border-radius: 7px;
    outline-color: #2e81f4;
    
}
.loginInput a{
    color: #2e81f4;
}
.horizontalLine{
    width: 18vw;
    border: thin solid rgb(112, 112, 112);
    margin-top:20px;
}
.input{
    margin-top: 20px;
}
.loginButton button{
    background-color: #2e81f4;
    width: 18.3vw;
    height: 4vh;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 7px;
    margin-top: 20px;
}

.createNewAccount{
    margin-top: 22px;
}
.createNewAccount button{
    width: 10vw;
    height: 4vh;
    background-color: rgb(10, 184, 10);
    border-radius: 7px;
}
.createPage{
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.createPage a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.createPage a:hover{
    text-decoration: underline;
}
