*{
    margin:0;
}
.login img{
    width: 200px;
    height:80px;
}
.login{
    display: flex;
    justify-content: space-around;
    height: 75vh;
    margin-left: 170px;
    padding-top: 70px;
}
.loginTilesContent{
    display: flex;
    flex-direction: column;
}