*{
    margin: 0;
}
.registerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.signupButton{
    margin-top: 22px;
}
.signupButton button{
    width: 10vw;
    height: 4vh;
    background-color: rgb(10, 184, 10);
    border-radius: 7px;
}

.signUp{
    font-weight: 600;
    font-size: 32px;
}
.quickNeasy{
    color: #1d2129;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
}

.name{
    margin-top: 10px;
}
.name input{
    margin-right: 10px;
    size: 30px;
    height: 25px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}

.formInput{
    margin-top:10px;
    
}

.formInput input{
    height: 25px;
    width: 356px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}

.agreement{
    margin-top: 10px;
    font-size: 11px;
}