.sidebarrow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebarrow:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sidebarrow h4{
    font-weight: 600;
    margin-left: 20px;
}
.sidebarrow .MuiSvgIcon-root{
    color: #2e81f4;
    font-size: xx-large;
}